@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    font-family: "Courgette", serif;
    margin: 0;
    padding: 0;
    color:#efaeae;
}
body{
    background-image: linear-gradient(rgb(19, 12, 12),#594d4d92) , url(ramadan3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    align-items: center;
    position:sticky;
    top: .2px;
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
    margin: 0px;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: 20px;
}
.a2:hover{
    text-decoration:underline;
    color: rgb(159, 101, 101);
    transition: 1s;
}
body:hover{
    background-image: linear-gradient(rgb(35, 31, 31),transparent) , url(images/ramadan3.jpg);
    transition: 50s;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
form{
    width: 400px;
    margin: auto;
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
input{
    outline: none;
    padding: 10px;
    margin-top: 20px;
    border: #efaeae 3px solid;
    border-radius: 0 15px 15px 0;
}
input:hover{
    border: #efaeae 3px solid;
    background-color:#efaeae;
    color: white;
}
button{
    padding: 10px;
    margin-top: 20px;
    border: 2px solid ;
    border-radius: 5px 15px 15px 5px;
    background-color:transparent;
}
button:hover{
    background-color: #efaeae;
    color: #f1f1f1;
}
.linkk{
    text-decoration: underline;
    padding: 5px;
}



/* تغيير لون شريط التمرير */
::-webkit-scrollbar {
    width: 3px; /* عرض الشريط */
  }
  
  /* تغيير لون الخلفية للشريط */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: px;
  }
  
  /* تغيير لون مقبض التمرير */
  ::-webkit-scrollbar-thumb {
    background: #efaeae; /* لون المقبض */
    border-radius: px;
  }
  
  /* تغيير لون المقبض عند التحويم */
  ::-webkit-scrollbar-thumb:hover {
    background: #efaeae;
  }
  .logo > a{
    text-decoration: none;
  }
